{% extends "diseno.html" %}
{% block content %}
    <div class="w-100">
        <h2 class="mb-5"> Administradores: </h2>
        <h5>-----------------------------------------</h5>
      <table width="50%" border="5px solid" style="color:orangered">
        <tr>
            <td width="33%">
              <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
                <div class="resume-content">
                  <h3 class="mb-0"> <img src="static/img/hombre1.jpeg" width="200"
                 height="200"> </h3>
                  <div align="center">Javier Barreda</div>
                </div>
              </div>

            </td>
            <td width="33%">
              <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
                <div class="resume-content">
                  <h3 class="mb-0"> <img src="static/img/hombre2.jpeg" width="200"
                 height="200"> </h3>
                  <div align="center">Humberto Bernal</div>
                </div>
              </div>

            </td>

            <td width="33%">
              <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
                <div class="resume-content">
                  <h3 class="mb-0"> <img src="static/img/hombre3.jpeg" width="200"
                 height="200"> </h3>
                  <div align="center">Amaru Escalante</div>
                </div>
              </div>

            </td>
        </tr>
      </table>
        <h3></h3>
        <h3> Desarrolladores: </h3>
        <h4>-----------------------------------------</h4>

        <table width="50%" border="5px solid" style="color:orangered">
        <tr>
            <td width="20%">
              <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
                <div class="resume-content">
                  <h3 class="mb-0"> <img src="static/img/css-logo.png" width="150"
                 height="150"> </h3>
                  <div align="center">Mateo Noel</div>
                </div>
              </div>

            </td>
            <td width="20%">
              <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
                <div class="resume-content">
                  <h3 class="mb-0"> <img src="static/img/Javascrip_logo.png" width="150"
                 height="150"> </h3>
                  <div align="center">Alejandro Otero</div>
                </div>
              </div>

            </td>

            <td width="20%">
              <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
                <div class="resume-content">
                  <h3 class="mb-0"> <img src="static/img/python_logo.png" width="150"
                 height="150"> </h3>
                  <div align="center">Marcelo Guerrero</div>
                </div>
              </div>

            </td>

             <td width="20%">
              <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
                <div class="resume-content">
                  <h3 class="mb-0"> <img src="static/img/html_logo.png" width="150"
                 height="150"> </h3>
                  <div align="center">Nicolás Figueroa</div>
                </div>
              </div>

            </td>
        </tr>
      </table>
        <br>
        <h2 align="center" class="mb-5">SpinOut Workshop: How to make a Startup?</h2>
          <p1><img src="static/img/personas2.jpeg" width="300"
                 height="200" ></p1>
          <p2><img src="static/img/personas1.jpeg" width="300"
                 height="200"></p2>
        <br>
        <h2 align="center" class="mb-5">UTEC Ventures Incubator Program</h2>
          <p><img src="static/img/luteach_ventures.jpg" width="300"
                 height="200"></p>
        <br>
        <h2 align="center" class="mb-5">Hult Prize Experience</h2>

          <p1><img src="static/img/personas3.jpeg" width="300"
                 height="200" ></p1>
          <p2><img src="static/img/personas4.jpeg" width="300"
                 height="200"></p2>

        <h6><br></h6>
        <h2 class="mb-5"> Now </h2>
          <p><img src="static/img/utec_logo.jpeg"width="400"
                 height="400" ></p>
      </div>
{% endblock content %}
