{% extends "diseno.html" %}
{% block content %}

    <div class="w-100">
        <h1 class="mb-0">Learn to
          <span class="text-primary">Teach</span>
        </h1>
        <pre>


        </pre>
        <a href="/learn">
        <button type="button" class="btn btn-primary btn-lg btn-block"  style='width:1110px; height:250px' > <h1 style='width:1110px; height:110px; color:white'>   Aprender </h1> </button>
        </a>
        <a href="/teach">
        <button type="button" class="btn btn-secondary btn-lg btn-block"  style='width:1110px; height:250px' > <h1 style='width:1110px; height:110px; color:white' >Enseñar</h1> </button>
        </a>
        <pre>


        </pre>
        <div class="social-icons">
          <a href="https://github.com/mateonoel2">
            <i class="fab fa-github"></i>
          </a>
          <a href="https://www.facebook.com/profile.php?id=1471822139&ref=bookmarks">
            <i class="fab fa-facebook-f"></i>
          </a>
        </div>
      </div>
{% endblock content %}